body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Indie Flower;
  font-size: 2em;
  margin-top: 1em;
  margin-left: 20%;
}

h2{
  font-family: Indie Flower;
  font-size: 20px;
  display: inline-block;
  margin-top: 2em;
  margin-left: 25%;
}
h4{
  font-family: Indie Flower;
  margin-left: 80%;
  margin-top: 0em;
  margin-bottom: 0em;
}
h3{
  font-family: Maven Pro;
  text-align: center;
  border-bottom: 1px solid #a4a9ff;
}

#left{
  float: left;
  margin: 1em;
  height: 15em;
}
.navbar-buttons{
  display: inline-block;
  margin-left: 60px;
}

article{
  float: left;
  width: 75%;
  margin-bottom: 2em;
}

section{
  float: left;
  width: 80%;
  border: 2px solid #a4a9ff;
  border-radius: 2em;
}

.right{
  float: right;
  height: 24em;
  margin: 1em;
}
.sidebar-links{
  height: 50%;
  width:50%;
}

aside {
  border-radius: 40px;
  width: 13%;
  border: 2px solid #a4a9ff;
  text-align: center;
}
p{
  font-family: Maven Pro;
  margin: 1em;
}
a {
  text-decoration: none;
}
a:hover {
  color: red;
}
.bold{
 font-weight: bold;
}

code{
  display: block;
}
pre{
  background-color: lightgrey;
  border: 2px solid grey;
  display: inline-block;
  margin: 1em;
}
img {
  display: block;
  margin: 1em;
  width: 90%;
}
