body{
  background-color: #a4a9ff;
}
aside{
  display: inline-block;
  background-color: #adadb1;
  border-radius: 20px;
  border: 2px solid white;
}

a {
  text-decoration: none;
  transition: all .5s ease-in-out;
}
a:hover {
  color: red;
  text-decoration: none;
  transform: scale(1.1);
}

h1{
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  font-family: Indie Flower;
  font-size: 3em;
  text-align: center;
}
h3{
  text-align: center;
  font-family: Lobster;
}

/*left aside*/
.left{
  float: left;
  width: 25%;
  text-align: center;
  font-family: Maven Pro;
}
#profile{
  height: 60%;
  width: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em
}

/*main content*/
section{
  float: left;
  margin-left: 1em;
  width:45%;
  display: inline-block;
  background-color: #adadb1;
  border-radius: 40px;
  border: 2px solid white;
}
.navigation-buttons{
  background-color: #7a81ff;
  display: inline-block;
  height: 5em;
  width: 5em;
  border-radius: 100%;
  text-align: center;
  margin: 1em;
}
a p{
  margin-top: 2em;
}
td{
  font-size: 15px;
  font-family: Maven Pro;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

/*right aside*/
.right{
  float: right;
  width: 25%;
}
nav {
  height:100%;
}
.links{
  height: 15%;
  width: 90%;
  margin-left: 10px;
  border: 2px solid black;
  border-radius: 5px;
}
.sidebar-links{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

